git+https://github.com/HorsemanWSGI/roughrider.predicate.git#egg=roughrider.predicate
git+https://github.com/HorsemanWSGI/roughrider.workflow.git#egg=roughrider.workflow
git+https://github.com/novareto/reiter.events.git#egg=reiter.events
.[test]
